<!DOCTYPE html>
<html>
  <head>
    <title>Livestock Ledger</title>
  </head>
  <body>

    <h1>Livestock Ledger</h1>
    <img src="../../static/banner.jpg"
    height="320" >
    <h2>What is Livestock Ledger?</h2>
    <p> 
      Hello and welcome to the Livestock Ledger! This website was created for ranchers by ranchers. You can use this app to keep track of your herd's health, breeding, and more! Click the "New Herd" button to get started, or click the "View Existing Herd" button to see a list of herds you've alreadycreated.
    </p>  
  </body>
</html>